<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="mycelium, mycelium-clj, clojure, framework, workflows, cells">
    <meta name="description" content="Mycelium - Schema-enforced, workflow-driven web framework for Clojure">
    <meta name="canonical" content="https://mycelium-clj.github.io">
    <title>Mycelium Framework</title>
    <link rel="icon" href="/img/mycelium.png" type="image/x-icon">
    <link rel="shortcut icon" href="/img/mycelium.png" type="image/x-icon">
    {% style "/css/highlight.css" %}
    {% style "/css/codestyle.css" %}
    {% style "/css/screen.css" %}
  </head>
  <body>
    <header>
      <div class="wrapper">
        <div class="column-wrapper" style="padding-top:0;padding-bottom:0;">
          <div class="row">
            <div id="logo">
              <h1>
                <a href="/">
                  <img src="/img/mycelium.png" alt="Mycelium">
                  Mycelium
                </a>
              </h1>
            </div>
            <nav>
              <ul>
                <li {% ifequal page "home.html" %} class="selected"{%endifequal%}>
                  <a href="/">Home</a>
                </li>
                <li {% ifequal page "docs.html" %} class="selected"{%endifequal%}>
                  <a href="/docs/guestbook.html">
                    <span class="show-on-mobile">Docs</span>
                    <span class="hide-on-mobile">Documentation</span>
                  </a>
                </li>
                <li {% ifequal page "contribute.html" %} class="selected"{%endifequal%}>
                  <a href="/contribute.html">
                    <span class="hide-on-mobile">Get Involved</span>
                    <span class="show-on-mobile">Contrib</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          {% block header %}
          {% endblock %}
        </div>
      </div>
    </header>
    <div class="wrapper">
      {% block content %}
      {% endblock %}
    </div>
    <footer>
      <article class="wrapper">
        <div class="column-wrapper">
          <p>
            Mycelium framework is released under the <a href="http://opensource.org/licenses/MIT">MIT License</a>
            &mdash; Copyright &copy;
            <span id="cpyear"></span>
          </p>
          <p><a href="https://github.com/mycelium-clj/mycelium">Framework Source Code</a></p>
          <p><a href="https://github.com/mycelium-clj/mycelium-clj.github.io">Docs Source Code</a></p>
        </div>
      </article>
    </footer>

    {% script "/js/highlight.pack.js" %}
    {% script "/js/site.js" %}
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
